﻿@model EOS.Web.Areas.Identity.Data.AppUser
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover display nowrap" id="tbl-grid" style="width:100%">
        <thead class="">
            <tr>
                <th>Id</th>
                <th class="icon-td-1"></th>
                <th class="icon-td-2"></th>
                <th class="icon-td-2"></th>
                <th>Nama Lengkap</th>
                <th>No. Karyawan</th>
                <th>Email</th>
                <th>No. Telp.</th>
                <th>Tempat Lahir</th>
                <th>Tgl. Lahir</th>
                <th>Tgl. Masuk</th>
                <th>Tgl. Keluar</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th class="icon-td-1"></th>
                <th class="icon-td-2"></th>
                <th class="icon-td-2"></th>
                <th>Nama Lengkap</th>
                <th>No. Karyawan</th>
                <th>Email</th>
                <th>No. Telp.</th>
                <th>Tempat Lahir</th>
                <th>Tgl. Lahir</th>
                <th>Tgl. Masuk</th>
                <th>Tgl. Keluar</th>
            </tr>
        </tfoot>
    </table>
</div>