﻿@model EOS.Web.Models.UserRole
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.ApplicationUser.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <h5><b>Data Karyawan</b></h5>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.UserName" class="control-label">Username</label><span class="required"> *</span>
                        <input asp-for="@Model.ApplicationUser.UserName" class="form-control" />
                        <span asp-validation-for="@Model.ApplicationUser.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.FullName" class="control-label">Nama Lengkap</label><span class="required"> *</span>
                        <input asp-for="@Model.ApplicationUser.FullName" class="form-control" />
                        <span asp-validation-for="@Model.ApplicationUser.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.Email" class="control-label">Email</label><span class="required"> *</span>
                        <input asp-for="@Model.ApplicationUser.Email" class="form-control" />
                        <span asp-validation-for="@Model.ApplicationUser.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.BirthPlace" class="control-label">Tempat Lahir</label><span class="required"> *</span>
                        <input asp-for="@Model.ApplicationUser.BirthPlace" class="form-control" />
                        <span asp-validation-for="@Model.ApplicationUser.BirthPlace" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.BirthDate" class="control-label">Tanggal Lahir</label><span class="required"> *</span>
                        <input asp-for="@Model.ApplicationUser.BirthDate" class="form-control" type="date" />
                        <span asp-validation-for="@Model.ApplicationUser.BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5><b>Detail Karyawan</b></h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.ApplicationUser.EmployeeNumber" class="control-label">No. Karyawan</label><span class="required"> *</span>
                                <input asp-for="@Model.ApplicationUser.EmployeeNumber" class="form-control" />
                                <span asp-validation-for="@Model.ApplicationUser.EmployeeNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.ApplicationUser.SyncId" class="control-label">Sync ID</label><span class="required"> *</span>
                                <input asp-for="@Model.ApplicationUser.SyncId" class="form-control" min="0" />
                                <span asp-validation-for="@Model.ApplicationUser.SyncId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.StartJoinDate" class="control-label">Tanggal Mulai Bekerja</label><span class="required"> *</span>
                        <input asp-for="@Model.ApplicationUser.StartJoinDate" class="form-control" type="date" />
                        <span asp-validation-for="@Model.ApplicationUser.StartJoinDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.Section" class="control-label">Bagian</label><span class="required"> *</span>
                        <select asp-for="@Model.ApplicationUser.SectionId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Section" class="form-control">
                            <option value="0">-</option>
                        </select>
                        <span asp-validation-for="@Model.ApplicationUser.SectionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.Department" class="control-label">Departemen</label><span class="required"> *</span>
                        <select asp-for="@Model.ApplicationUser.DepartmentId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Department" class="form-control">
                            <option value="0">-</option>
                        </select>
                        <span asp-validation-for="@Model.ApplicationUser.DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.Division" class="control-label">Divisi</label><span class="required"> *</span>
                        <select asp-for="@Model.ApplicationUser.DivisionId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Division" class="form-control">
                            <option value="0">-</option>
                        </select>
                        <span asp-validation-for="@Model.ApplicationUser.DivisionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationUser.Job" class="control-label">Posisi</label><span class="required"> *</span>
                        <select asp-for="@Model.ApplicationUser.JobId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Job" class="form-control">
                            <option value="0">-</option>
                        </select>
                        <span asp-validation-for="@Model.ApplicationUser.JobId" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.ApplicationUser.Grade" class="control-label">Grade</label><span class="required"> *</span>
                                <select asp-for="@Model.ApplicationUser.GradeId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Grade" class="form-control">
                                    <option value="0">-</option>
                                </select>
                                <span asp-validation-for="@Model.ApplicationUser.GradeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.ApplicationUser.EmployeeType" class="control-label">Tipe</label><span class="required"> *</span>
                                <select asp-for="@Model.ApplicationUser.EmployeeType" class="form-control">
                                    <option value="">-</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Shift">Shift</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h5><b>Hak Akses</b></h5>
                    <hr />
                    <div class="form-group">
                        <label asp-for="@Model.ApplicationRoles" class="control-label">Role</label><span class="required"> *</span>
                        <br />
                        @for (int i = 0; i < Model.ApplicationRoles.Count; i++)
                        {
                            <input type="hidden" asp-for="@Model.ApplicationRoles[i].Value" />
                            <input asp-for="@Model.ApplicationRoles[i].Selected" /> @Model.ApplicationRoles[i].Text
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
