﻿@model PaginatedList<EOS.Web.Areas.Identity.Data.AppUser>
@{
    ViewData["Title"] = "Karyawan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @section AddToHead{
        <link rel="stylesheet" href="~/datatables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/datatables/select.dataTables.min.css" />
        <script src="~/datatables/datatables.min.js"></script>
        <script src="~/datatables/dataTables.select.min.js"></script>
        <script src="~/moment.js/moment.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var table = $("#tbl-grid").DataTable({
                    "processing": false, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "scrollX": true,
                    "language": {
                        "lengthMenu": "Menampilkan _MENU_ baris per halaman",
                        "zeroRecords": "Data tidak ditemukan.",
                        "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                        "infoEmpty": "Data tidak ditemukan.",
                        "infoFiltered": "(Disaring dari _MAX_ baris)",
                        "search": "Pencarian :",
                        "paginate": {
                            "previous": "Sebelumnya",
                            "next": "Selanjutnya"
                        },
                        "select": {
                            "rows": {
                                _: "",
                                0: "",
                                1: "%d baris terpilih"
                            }
                        },
                    },
                    "ajax": {
                        "url": "/AppUsers/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "select": {
                        "style": "single"
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [9],
                        "orderable": false
                    }],
                    "columns": [
                        { "data": "id", "name": "Id", "autoWidth": true },
                        {
                            data: null,
                            render: function (data, type, full, meta) {
                                //return "<a href='#' class='btn btn-info' onclick=UpdateData('" + full.sectionId + "');>Update</a> <a href='#' class='btn btn-danger' onclick=DeleteData('" + full.sectionId + "');>Hapus</a> ";
                                return "<a href='#' class='btn btn-info' data-bs-toggle='tooltip' data-bs-placement='top' title='Update Data Karyawan' onclick=UpdateData('" + full.id + "');><i class='fas fa-edit'></i></a>";
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, full, meta) {
                                //return "<a href='#' class='btn btn-info' onclick=UpdateData('" + full.sectionId + "');>Update</a> <a href='#' class='btn btn-danger' onclick=DeleteData('" + full.sectionId + "');>Hapus</a> ";
                                if (full.endJoinDate == '0001-01-01T00:00:00') {
                                    return "<a href='#' class='btn btn-danger' data-bs-toggle='tooltip' data-bs-placement='top' title='Inaktif Data Karyawan' onclick=SetInactive('" + full.id + "');><i class='fas fa-user-slash'></i></a>";
                                }
                                else {
                                    return '';
                                }
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, full, meta) {
                                //return "<a href='#' class='btn btn-info' onclick=UpdateData('" + full.sectionId + "');>Update</a> <a href='#' class='btn btn-danger' onclick=DeleteData('" + full.sectionId + "');>Hapus</a> ";
                                return "<a href='#' class='btn btn-warning' data-bs-toggle='tooltip' data-bs-placement='top' title='Reset Password' onclick=ResetPassword('" + full.id + "','" + full.userName + "');><i class='fas fa-key'></i></a>";
                            }
                        },
                        { "data": "fullName", "name": "FullName", "autoWidth": true },
                        { "data": "employeeNumber", "name": "EmployeeNumber", "autoWidth": true },
                        { "data": "email", "name": "Email", "autoWidth": true },
                        { "data": "phoneNumber", "name": "PhoneNumber", "autoWidth": true },
                        { "data": "birthPlace", "name": "BirthPlace", "autoWidth": true },
                        {
                            data: "birthDate", name: "BirthDate",
                            render: function (data, type, row) {
                                if (row.birthDate == '0001-01-01T00:00:00') {
                                    return '';
                                }
                                else {
                                    return moment(row.birthDate).format('DD MMM YYYY');
                                }
                            }
                        },
                        {
                            data: "startJoinDate", name:"StartJoinDate",
                            render: function (data, type, row) {
                                if (row.startJoinDate == '0001-01-01T00:00:00') {
                                    return '';
                                }
                                else {
                                    return moment(row.startJoinDate).format('DD MMM YYYY');
                                }
                            }
                        },
                        {
                            data: "endJoinDate", name:"EndJoinDate",
                            render: function (data, type, row) {
                                if (row.endJoinDate == '0001-01-01T00:00:00') {
                                    return '';
                                }
                                else {
                                    return moment(row.endJoinDate).format('DD MMM YYYY');
                                }
                            }
                        },
                    ]
                });
            }); //end document ready
            function UpdateData(userId) {
                var toSend =
                {
                    id: userId
                };
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/AppUsers/AddOrEdit",
                    data: toSend,
                    success: function (res) {
                        $("#form-modal-lg .modal-body").html(res);
                        $("#form-modal-lg .modal-title").html("Update Data Karyawan");
                        $("#form-modal-lg").modal('show');
                    },
                    error: function (res) {
                        console.log(res);
                    }
                })
            };
            function DeleteData(userId) {
                if (confirm('Apakah anda yakin akan menghapus data ini ?')) {
                    var toSend =
                    {
                        id: userId
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/AppUsers/Delete',
                        data: toSend,
                        success: function (res) {
                            $.notify('Data berhasil dihapus', { globalPosition: 'bottom right', className: 'success', width: '150px' });
                            oTable = $('#tbl-grid').DataTable();
                            oTable.ajax.reload(null, false);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            };
            function ResetPassword(userId, userName) {
                if (confirm('Apakah anda yakin akan reset password user ' + userName + ' ini?')) {
                    var toSend = {
                        id: userId
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/AppUsers/ResetPassword',
                        data: toSend,
                        success: function (res) {
                            $.notify('Reset password berhasil', { globalPosition: 'bottom right', className: 'success', width: '150px' });
                            oTable = $('#tbl-grid').DataTable();
                            oTable.ajax.reload(null, false);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            };
            function SetInactive(userId) {
                var toSend =
                {
                    id: userId
                };
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/AppUsers/SetInactive",
                    data: toSend,
                    success: function (res) {
                        $("#form-modal-lg .modal-body").html(res);
                        $("#form-modal-lg .modal-title").html("Non aktifkan Karyawan");
                        $("#form-modal-lg").modal('show');
                    },
                    error: function (res) {
                        console.log(res);
                    }
                })
            };
        </script>
    }
</head>
<div class="row">
    <div class="col-md-7">
        <h1><i class="fas fa-user-alt text-primary"></i> Karyawan</h1>
    </div>
    <div class="col-md-5 text-right">
        <a onclick="showInPopupLg('@Url.Action("AddOrEdit","AppUsers",new { id = string.Empty },Context.Request.Scheme)', 'Tambah Baru')" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i> Tambah Baru</a>
    </div>
    <div class="col-md-12">
        <div id="view-all">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    </div>
</div>