﻿@model EOS.Web.Models.UserRole
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<form asp-action="SetInactive" asp-route-id="@Model.ApplicationUser.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.ApplicationUser.EndJoinDate" class="control-label">Tanggal Selesai Bekerja</label><span class="required"> *</span>
                <input asp-for="@Model.ApplicationUser.EndJoinDate" class="form-control" type="date" />
                <span asp-validation-for="@Model.ApplicationUser.EndJoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
