﻿<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover display" id="tbl-grid" style="width:100%">
        <thead class="">
            <tr>
                <th>Id</th>
                <th class="icon-td-1"></th>
                <th>Periode</th>
                <th>Nama</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Selesai</th>
                <th>Jumlah</th>
                <th>Status</th>
                
            </tr>
        </thead>
    </table>
</div>
