﻿@model EOS.Web.Models.PaidLeavePeriod

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" id="txtId" />
            <div class="form-group">
                <label asp-for="PeriodName" class="control-label"></label><span class="required"> *</span>
                <input asp-for="PeriodName" class="form-control" />
                <span asp-validation-for="PeriodName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="StartDate" class="control-label"></label><span class="required"> *</span>
                    <input asp-for="StartDate" class="form-control" type="date" min="2020-01-01" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EndDate" class="control-label"></label><span class="required"> *</span>
                    <input asp-for="EndDate" class="form-control" type="date" min="2020-01-01" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserId" class="control-label">Tipe</label><span class="required"> *</span>
                <select asp-for="@Model.UserId" asp-items="(IEnumerable<SelectListItem>)ViewBag.User" id="txtUserId" class="form-control">
                    <option value="0">- Pilih Employee -</option>
                </select>
                <span asp-validation-for="@Model.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label><span class="required"> *</span>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label><span class="required"> *</span>
                <select asp-for="Status" class="form-control">
                    <option value=""></option>
                    <option value="0">Inaktif</option>
                    <option value="1">Aktif</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
