﻿@model EOS.Web.Models.Division
@{
    ViewData["Title"] = "Divisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @section AddToHead{
        <link rel="stylesheet" href="~/datatables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
        <script src="~/datatables/datatables.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tbl-grid").DataTable({
                    "processing": false, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "language": {
                        "lengthMenu": "Menampilkan _MENU_ baris per halaman",
                        "zeroRecords": "Data tidak ditemukan.",
                        "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                        "infoEmpty": "Data tidak ditemukan.",
                        "infoFiltered": "(Disaring dari _MAX_ baris)",
                        "search": "Pencarian :",
                        "paginate": {
                            "previous": "Sebelumnya",
                            "next": "Selanjutnya"
                        }
                    },
                    "ajax": {
                        "url": "/Divisions/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },

                    "columnDefs": [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                    "columns": [
                        { "data": "divisionId", "name": "DivisionId", "autoWidth": true },
                        { "data": "divisionName", "name": "DivisionName", "autoWidth": true },
                        {
                            data: null,
                            render: function (data, type, full, meta) {
                                return "<a href='#' class='btn btn-info' onclick=UpdateData('" + full.divisionId + "');>Update</a> <a href='#' class='btn btn-danger' onclick=DeleteData('" + full.divisionId + "');>Hapus</a> ";
                            }
                        },
                    ]
                });

            }); //end document ready
            function UpdateData(divisionId) {
                var toSend =
                {
                    id: divisionId
                };
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/Divisions/AddOrEdit",
                    data: toSend,
                    success: function (res) {
                        $("#form-modal .modal-body").html(res);
                        $("#form-modal .modal-title").html("Ubah");
                        $("#form-modal").modal('show');
                    },
                    error: function (res) {
                        console.log(res);
                    }
                })
            };
            function DeleteData(divisionId) {
                if (confirm('Apakah anda yakin akan menghapus data ini ?')) {
                    var toSend =
                    {
                        id: divisionId
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/Divisions/Delete',
                        data: toSend,
                        success: function (res) {
                            $.notify('Data berhasil dihapus', { globalPosition: 'bottom right', className: 'success' });
                            oTable = $('#tbl-grid').DataTable();
                            oTable.ajax.reload(null, false);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            }
        </script>
    }
</head>
<div class="row">
    <div class="col-md-7">
        <h1><i class="fas fa-money-check-alt text-primary"></i> Divisi</h1>
    </div>
    <div class="col-md-5 text-right">
        <a onclick="showInPopup('@Url.Action("AddOrEdit","Divisions",new { id = 0 },Context.Request.Scheme)', 'Tambah Baru')" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i> Tambah Baru</a>
    </div>
    <div class="col-md-12">
        <div id="view-all">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    </div>
</div>



