﻿@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
<h2>Pengaturan Akun</h2>
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script>
        $('#show-password').click(function () {
            if ($(this).is(':checked')) {
                $('.password-field').attr('type', 'text');
            } else {
                $('.password-field').attr('type', 'password');
            }
        });
    </script>
}

