﻿@page
@model ChangePasswordModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword">Password Saat Ini</label>
                <input asp-for="Input.OldPassword" class="form-control password-field" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword">Password Baru</label>
                <input asp-for="Input.NewPassword" class="form-control password-field" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Konfirmasi Password Baru</label>
                <input asp-for="Input.ConfirmPassword" class="form-control password-field" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group offset-1">
                <input type="checkbox" class="form-check-input" id="show-password"> Tampilkan Password
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Ganti password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}