﻿@page
@model IndexModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/inputmask/inputmask/inputmask.min.js"></script>
<script src="~/inputmask/inputmask/jquery.inputmask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        $('#txtPhone').inputmask({ mask: "9999-9999-99[9][9]" });
    });
</script>
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Fullname">Nama Lengkap</label>
                <input asp-for="Fullname" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">No. Telepon</label>
                <input asp-for="Input.PhoneNumber" class="form-control" id="txtPhone" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BirthPlace">Tempat Lahir</label>
                <input asp-for="Input.BirthPlace" class="form-control" />
                <span asp-validation-for="Input.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BirthDate">Tanggal Lahir</label>
                <input asp-for="Input.BirthDate" class="form-control" type="date" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.TaxStatus">Status Pajak</label>
                <select asp-for="Input.TaxStatus" class="form-control">
                    <option>-</option>
                    <option value="TK 0">TK 0</option>
                    <option value="TK 1">TK 1</option>
                    <option value="TK 2">TK 2</option>
                    <option value="TK 3">TK 3</option>
                    <option value="K 0">K 0</option>
                    <option value="K 1">K 1</option>
                    <option value="K 2">K 2</option>
                    <option value="K 3">K 3</option>
                </select>
                <span asp-validation-for="Input.TaxStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address">Alamat Lengkap</label>
                <textarea asp-for="Input.Address" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.UserPhoto" style="width: 100%;"></label>
                @if (Model.Input.UserPhoto != null)
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.UserPhoto))">
                }
                else
                {
                    <img id="userPhoto" style="width:350px;height:350px; object-fit:cover" src="">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Input.UserPhoto"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('userPhoto').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Input.UserPhoto" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}