﻿@page
@model PersonalDataModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-12">
        <p>Informasi Akun anda yang terdaftar ke sistem EOS. Anda dapat mengunduh data dengan mengklik tombol "Unduh Data Pribadi".</p>
        @*<p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>*@
        <div class="form-group row">
            <label asp-for="Username" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Username" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Fullname" class="col-sm-2 col-form-label">Nama Lengkap</label>
            <div class="col-sm-10">
                <input asp-for="Fullname" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmployeeNumber" class="col-sm-2 col-form-label">No. Karyawan</label>
            <div class="col-sm-10">
                <input asp-for="EmployeeNumber" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="BirthPlace" class="col-sm-2 col-form-label">Tempat</label>
            <div class="col-sm-4">
                <input asp-for="BirthPlace" class="form-control" disabled />
            </div>
            <label asp-for="BirthDate" class="col-sm-2 col-form-label">Tanggal Lahir</label>
            <div class="col-sm-4">
                <input asp-for="BirthDate" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Address" class="col-sm-2 col-form-label">Alamat Lengkap</label>
            <div class="col-sm-10">
                <textarea asp-for="Address" class="form-control" disabled></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="JoinDate" class="col-sm-2 col-form-label">Tanggal Masuk</label>
            <div class="col-sm-4">
                <input asp-for="JoinDate" class="form-control" disabled />
            </div>
            <label asp-for="EndDate" class="col-sm-2 col-form-label">Tanggal Keluar</label>
            <div class="col-sm-4">
                <input asp-for="EndDate" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Section" class="col-sm-2 col-form-label">Bagian</label>
            <div class="col-sm-10">
                <input asp-for="Section" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Department" class="col-sm-2 col-form-label">Departemen</label>
            <div class="col-sm-10">
                <input asp-for="Department" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Division" class="col-sm-2 col-form-label">Divisi</label>
            <div class="col-sm-10">
                <input asp-for="Division" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="TaxStatus" class="col-sm-2 col-form-label">Status Pajak</label>
            <div class="col-sm-10">
                <input asp-for="TaxStatus" class="form-control" disabled />
            </div>
        </div>

        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Unduh Data Pribadi</button>
        </form>

        @*<p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
            </p>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}