﻿<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover display nowrap" id="tbl-grid" style="width:100%">
        <thead class="">
            <tr>
                <th>PaidLeaveId</th>
                <th class="icon-td-2"></th>
                <th>Tgl. Mulai</th>
                <th>Tgl. Selesai</th>
                <th>Requestor</th>
                <th>Deskripsi</th>
                <th>Status</th>
                <th>Photo</th>
                @*<th class="icon-td"></th>*@
            </tr>
        </thead>
    </table>
</div>
