﻿@model EOS.Web.Models.PaidLeave
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.div-files').hide();
        function getBusinessDateCount(dDate1, dDate2) { // input given as Date objects
            var iWeeks, iDateDiff, iAdjust = 0;
            var elapsed, daysBeforeFirstSaturday, daysAfterLastSunday;
            var ifThen = function (a, b, c) {
                return a == b ? c : a;
            };

            elapsed = dDate2 - dDate1;
            elapsed /= 86400000;

            daysBeforeFirstSunday = (7 - dDate1.getDay()) % 7;
            daysAfterLastSunday = dDate2.getDay();

            elapsed -= (daysBeforeFirstSunday + daysAfterLastSunday);
            elapsed = (elapsed / 7) * 5;
            elapsed += ifThen(daysBeforeFirstSunday - 1, -1, 0) + ifThen(daysAfterLastSunday, 6, 5);

            return Math.ceil(elapsed);
        };

        function getHoliday(d1, d2, v) {
            var $this = this;
            var obj = { start: d1, end: d2 };            
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetEventsInRange", "HolidayDates")",
                data : obj,
                success: function (res) {
                    if (res < 0) {
                        res = 0;
                    }
                    var val = res - v;
                    if (val < 0) {
                        $('#txtValue').val(0);
                        $('#txtCurrentValue').text('Pengajuan Cuti :' + 0 + ' Hari');
                    }
                    else {
                        $('#txtValue').val(val);
                        $('#txtCurrentValue').text('Pengajuan Cuti :' + val + ' Hari');
                    }
                }
            });
        };
        $('#txtPeriod').change(function () {
            var p = $('#txtPeriod').val();
            var obj = { period: p };
            if (p != 0) {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("GetRemainingLeaves","PaidLeaves")",
                    data: obj,
                    success: function (res) {
                        console.log(res);
                        if (res[0].leaveAllowance) {
                            $('#txtTotalLeave').text('Total Cuti :' + res[0].leaveAllowance + ' Hari');
                            $('#txtRemainingLeave').text('Sisa Cuti :' + res[0].remainingLeave + ' Hari');
                        }
                        else {
                            $('#txtTotalLeave').text('Total Cuti :' + res[0].value + ' Hari');
                            $('#txtRemainingLeave').text('Sisa Cuti :' + res[0].value + ' Hari');
                        }
                    }
                });
            }
            else {
                $('#txtTotalLeave').text('Total Cuti : - Hari');
                $('#txtRemainingLeave').text('Sisa Cuti : - Hari');
            }
        });
        $("#txtStartDate, #txtEndDate, #txtType").change(function () {
            var start = $('#txtStartDate').val();
            var end = $('#txtEndDate').val();
            var days = 0;
            if ($('#txtType').val() != 0) {
                var split = $('#txtType option:selected').text().split("(");
                days = split[1].replace(")", "");
            }
            if (start != '' && end != '' && days != '') {
                var result = getBusinessDateCount(new Date(start), new Date(end)); //jumlah hari kerja
                getHoliday(start, end, days);
            }
        });
        $("#txtType").change(function () {
            if ($('#txtType option:selected').text() === 'Sakit (0)') {
                //show upload dok
                $('.div-files').show();
            }
            else {
                //hide upload dok
                $('.div-files').hide();
            }
        });
    });
</script>
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.PaidLeaveId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="PaidLeaveId" />
            <input type="hidden" asp-for="Value" id="txtValue" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label id="txtTotalLeave" class="control-label font-weight-bold">Total Cuti :<br />- Hari</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="txtRemainingLeave" class="control-label font-weight-bold">Sisa Cuti :<br />- Hari</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="txtCurrentValue" class="control-label font-weight-bold">Pengajuan Cuti :<br />- Hari</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.StartDate" class="control-label"></label><span class="required"> *</span>
                    <input asp-for="@Model.StartDate" id="txtStartDate" type="date" asp-format="{0:dd/MM/yyyy}" class="datepicker form-control" value="@Model.StartDate.ToString("dd/MM/yyyy")" min="2021-01-01" />
                    <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.EndDate" class="control-label"></label><span class="required"> *</span>
                    <input asp-for="@Model.EndDate" id="txtEndDate" type="date" placeholder="dd-mm-yyyy" asp-format="{0:dd/MM/yyyy}" class="datepicker form-control" value="@Model.EndDate.ToString("dd/MM/yyyy")" min="2021-01-01" />
                    <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TypeId" class="control-label">Tipe</label><span class="required"> *</span>
                <select asp-for="@Model.TypeId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Type" id="txtType" class="form-control">
                    <option value="0">- Pilih Alasan Cuti -</option>
                </select>
                <span asp-validation-for="@Model.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PeriodId" class="control-label">Periode Cuti</label><span class="required"> *</span>
                <select asp-for="@Model.PeriodId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Period" id="txtPeriod" class="form-control">
                    <option value="0">- Pilih Period Cuti -</option>
                </select>
                <span asp-validation-for="@Model.PeriodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Remarks" title="Keterangan" class="control-label"></label><span class="required"> *</span>
                <textarea asp-for="@Model.Remarks" type="text" rows="3" class="form-control"></textarea>
                <span asp-validation-for="@Model.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group div-files">
                <label asp-for="@Model.PaidLeavePhoto" title="Foto/Scan" class="control-label">Upload Foto/Scan Surat Dokter</label><br />
                <span class="required" style="font-size:smaller;">* Tidak melampirkan surat keterangan dokter akan memotong hak cuti</span><br />
                <input type="file" accept=".png,.jpg,.jpeg,.gif" asp-for="@Model.PaidLeavePhoto" />
                <span asp-validation-for="@Model.PaidLeavePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajukan Cuti" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}