﻿@model PaginatedList<EOS.Web.Models.Bank>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover display" id="tbl-grid" style="width:100%">
        <thead class="">
            <tr>
                <th>Id</th>
                <th>Nama</th>
                <th class="icon-td"></th>
            </tr>
        </thead>
    </table>
</div>
