﻿@model EOS.Web.Models.ViewRemainingLeave
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover display nowrap" id="tbl-grid" style="width:100%">
        <thead class="">
            <tr>
                <th>Id</th>
                <th>Nama Lengkap</th>
                <th>Periode</th>
                <th>Periode Mulai</th>
                <th>Periode Selesai</th>
                <th>Sisa Cuti</th>
                <th>Jumlah Cuti</th>
            </tr>
        </thead>
    </table>
</div>
<br />
<h4><b>Detail</b></h4>
<input type="hidden" id="hdnId" />
<div class="table-responsive-lg">
    <table class="table table-bordered table-striped table-sm table-hover display nowrap" id="tbl-detail-grid" style="width:100%">
        <thead class="">
            <tr>
                <th>Id</th>
                <th>Tipe</th>
                <th>Detail</th>
                <th>Tgl. Mulai</th>
                <th>Tgl. Selesai</th>
                <th>Jumlah Hari</th>
                <th>Status</th>
                <th>Keterangan</th>
            </tr>
        </thead>
    </table>
</div>

