﻿@model EOS.Web.Models.ViewRemainingLeave
@{
    ViewData["Title"] = "Laporan Cuti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @section AddToHead{
        <link rel="stylesheet" href="~/datatables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/datatables/select.dataTables.min.css" />
        <script src="~/datatables/datatables.min.js"></script>
        <script src="~/datatables/dataTables.select.min.js"></script>
        <script src="~/moment.js/moment.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //table master
                var tblMaster = $("#tbl-grid").DataTable({
                    "processing": false, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "language": {
                        "lengthMenu": "Menampilkan _MENU_ baris per halaman",
                        "zeroRecords": "Data tidak ditemukan.",
                        "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                        "infoEmpty": "Data tidak ditemukan.",
                        "infoFiltered": "(Disaring dari _MAX_ baris)",
                        "search": "Pencarian :",
                        "scrollX": true,
                        "paginate": {
                            "previous": "Sebelumnya",
                            "next": "Selanjutnya"
                        },
                        "select": {
                            "rows": {
                                _: "",
                                0: "",
                                1: "%d baris terpilih"
                            }
                        },
                    },
                    "select": {
                        "style": "single"
                    },
                    "ajax": {
                        "url": "/PaidLeaveReports/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                    "columns": [
                        { "data": "id", "name": "Id", "autoWidth": true },
                        { "data": "fullName", "name": "FullName", "autoWidth": true },
                        { "data": "periodName", "name": "PeriodName", "autoWidth": true },
                        {
                            data: "startDate", name: "StartDate",
                            render: function (data, type, row) {
                                return moment(row.startDate).format('DD MMM YYYY');
                            }
                        },
                        {
                            data: "endDate", name: "EndDate",
                            render: function (data, type, row) {
                                return moment(row.endDate).format('DD MMM YYYY');
                            }
                        },
                        { "data": "remainingLeave", "name": "RemainingLeave", "autoWidth": true },
                        { "data": "leaveAllowance", "name": "LeaveAllowance", "autoWidth": true },
                    ]
                });
                //table detail
                var tblDetail = $("#tbl-detail-grid").DataTable({
                    "processing": false, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": false, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "language": {
                        "lengthMenu": "Menampilkan _MENU_ baris per halaman",
                        "zeroRecords": "Data tidak ditemukan.",
                        "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                        "infoEmpty": "Data tidak ditemukan.",
                        "infoFiltered": "(Disaring dari _MAX_ baris)",
                        "search": "Pencarian :",
                        "scrollX": true,
                        "paginate": {
                            "previous": "Sebelumnya",
                            "next": "Selanjutnya"
                        },
                    },
                    "ajax": {
                        "url": "/PaidLeaveReports/LoadDetail",
                        "data": function (d) {
                            d.period = $("#hdnId").val();
                        },
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                    "columns": [
                        { "data": "periodId", "name": "PeriodId", "autoWidth": true },
                        { "data": "submissionType", "name": "SubmissionType", "autoWidth": true },
                        { "data": "paidLeaveName", "name": "PaidLeaveName", "autoWidth": true },
                        {
                            data: "startDate", name: "StartDate",
                            render: function (data, type, row) {
                                return moment(row.startDate).format('DD MMM YYYY');
                            }
                        },
                        {
                            data: "endDate", name: "EndDate",
                            render: function (data, type, row) {
                                return moment(row.endDate).format('DD MMM YYYY');
                            }
                        },
                        { "data": "value", "name": "Value", "autoWidth": true },
                        { "data": "status", "name": "Status", "autoWidth": true },
                        { "data": "remarks", "name": "Remarks", "autoWidth": true },
                    ]
                });
                //onselect
                tblMaster.on('select', function (e) {
                    var rowData = tblMaster.rows({ selected: true }).data()[0];
                    $("#hdnId").val(rowData.id);
                    tblDetail.ajax.reload();
                });
                tblMaster.on('deselect', function () {
                    $("#hdnId").val(0);
                    tblDetail.ajax.reload();
                });

            }); //end document ready
        </script>
    }
</head>
<div class="row">
    <div class="col-md-7">
        <h1><i class="fas fa-calendar-check text-primary"></i> Laporan Cuti</h1>
    </div>
    <div class="col-md-5 text-right">
        @*<a onclick="showInPopup('@Url.Action("AddOrEdit","Sections",new { id = 0 },Context.Request.Scheme)', 'Tambah Baru')" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i> Tambah Baru</a>*@
    </div>
    <div class="col-md-12">
        <div id="view-all">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    </div>
</div>



