﻿@model EOS.Web.Models.Section

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.SectionId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SectionId" />
            <div class="form-group">
                <label asp-for="SectionName" class="control-label"></label><span class="required"> *</span>
                <input asp-for="SectionName" class="form-control" />
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionHead" class="control-label">Kepala Bagian</label><span class="required"> *</span>
                <select asp-for="SectionHead" asp-items="(IEnumerable<SelectListItem>)ViewBag.SectionHead" class="form-control">
                    <option value="0">-</option>
                </select>
                <span asp-validation-for="SectionHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
