﻿<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity
@using EOS.Web.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EOS - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.min.css">
</head>
<body>
    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        @*<a class="navbar-brand" href="#">
                            <img src="~/lib/images/RPU Logo.png" width="40px" style="margin-top:-10px;" />
                        </a>*@
                        <span class="text-white font-weight-bold">EOS</span>
                    </div>
                </div>
                <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Beranda</a></li>
                @if (User.IsInRole("Employee"))
                {
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Permit" asp-action="Index"><i class="fas fa-clipboard"></i> Pengajuan Izin</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="PaidLeaves" asp-action="Index"><i class="fas fa-history"></i> Pengajuan Cuti</a></li>
                }
                @if (User.IsInRole("Approver"))
                {
                    <li><a class="nav-link text-white" asp-area="" asp-controller="ApprovalPaidLeaves" asp-action="Index"><i class="fas fa-thumbs-up"></i> Persetujuan Cuti</a></li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("HR"))
                {
                    <li class="dropdown">
                        <a href="#administration" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cogs"></i> Administrasi <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInLeft" role="menu">
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a class="dropdown-item" asp-area="" asp-controller="AppUsers" asp-action="Index"><i class="fas fa-user-alt"></i> Karyawan</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="HolidayDates" asp-action="Index"><i class="fas fa-calendar-check"></i> Hari Libur</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="PaidLeavePeriod" asp-action="Index"><i class="fas fa-bookmark"></i> Periode Cuti</a></li>
                            }
                            @if (User.IsInRole("HR"))
                            {
                                <li><a class="dropdown-item" asp-area="" asp-controller="PaidLeaveByHr" asp-action="Index"><i class="fas fa-user-injured"></i> Input Cuti/Izin</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Admin") || (User.IsInRole("HR")))
                {
                    <li class="dropdown">
                        <a href="#reporting" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-clipboard"></i> Laporan <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInLeft" role="menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="PaidLeaveReports" asp-action="Index"><i class="fas fa-calendar-check"></i> Laporan Cuti</a></li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#configuration" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog fa-spin"></i> Konfigurasi <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInLeft" role="menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Banks" asp-action="Index"><i class="fas fa-money-check-alt"></i> Bank</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Jobs" asp-action="Index"><i class="fas fa-user-tie"></i> Jabatan</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Sections" asp-action="Index"><i class="fas fa-list-alt"></i> Bagian</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Divisions" asp-action="Index"><i class="fas fa-sitemap"></i> Divisi</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index"><i class="fas fa-list-alt"></i> Departemen</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Roles" asp-action="Index"><i class="fas fa-address-card"></i> Role Akses</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class=" hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span class="hamb-top text-white"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="top-menu"></div>
            <div class="float-menu">
                <partial name="_LoginPartial.cshtml" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal-lg">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notify.min.js" asp-append-version="true"></script>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
