﻿@using Microsoft.AspNetCore.Identity
@using EOS.Web.Areas.Identity.Data
@using Microsoft.AspNetCore.Http
@using System.Text

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@if (SignInManager.IsSignedIn(User))
{
var user = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);
var roles = await UserManager.GetRolesAsync(user);
<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="margin-top:-10px;">
        <table>
            <tr>
                <td>
                    @if (UserManager.GetUserAsync(User).Result.UserPhoto != null)
                    {
                        <img style="width:40px;height:40px; object-fit:cover;border-radius:30px;margin-right:5px;border-color:#fff;" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.UserPhoto))">
                    }
                    else
                    {
                        <i class="fas fa-user-circle fa-1x text-light"></i>
                    }
                </td>
                <td>
                    <span>@UserManager.GetUserName(User)</span><br>
                    <span style="font-size:0.8rem;">
                        @{
                            foreach (var role in roles)
                            {
                                if(role == roles.Last())
                                {
                                    @role
                                }
                                else
                                {
                                    @(role + ",")    
                                }          
                            }
                        }
                    </span>
                </td>
            </tr>
        </table>
    </a>
    <button id="logout" type="submit" class="nav-link btn btn-sm btn-link text-dark bg-white" style="margin-top:-10px;">Logout</button>
</form>
}

