﻿@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card login-logout-tab">
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6 login-image-container">
                    </div>
                    <div class="col-md-6">
                        <div class="login-form-icon">
                            <img class="img-thumbnail rounded" src="~/lib/images/RPU Logo.png" />
                        </div>
                        @*<a class="nav-link flex-wrap" href='/Identity/Account/Login'>RPU Employee Online Service</a>*@
                        <p class="lead text-center text-dark">PT. Redeco Petrolin Utama</p>
                        <h4 class="text-center text-dark">Employee Online Service</h4>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            var current = location.pathname;
            $('.nav-tabs li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })
        })
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
}