﻿@model EOS.Web.Models.PaidLeave
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        function getBusinessDateCount(dDate1, dDate2) { // input given as Date objects
            var iWeeks, iDateDiff, iAdjust = 0;
            var elapsed, daysBeforeFirstSaturday, daysAfterLastSunday;
            var ifThen = function (a, b, c) {
                return a == b ? c : a;
            };

            elapsed = dDate2 - dDate1;
            elapsed /= 86400000;

            daysBeforeFirstSunday = (7 - dDate1.getDay()) % 7;
            daysAfterLastSunday = dDate2.getDay();

            elapsed -= (daysBeforeFirstSunday + daysAfterLastSunday);
            elapsed = (elapsed / 7) * 5;
            elapsed += ifThen(daysBeforeFirstSunday - 1, -1, 0) + ifThen(daysAfterLastSunday, 6, 5);

            return Math.ceil(elapsed);
        };

        function getHoliday(d1, d2) {
            var $this = this;
            var obj = { start: d1, end: d2 };
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetEventsInRange", "HolidayDates")",
                data : obj,
                success: function (res) {
                    if (res < 0) {
                        res = 0;
                    }
                    $('#txtCurrentValue').text('Pengajuan Cuti : \n' + res + ' Hari');
                    $('#txtValue').val(res);
                }
            });
        };

        $("#txtStartDate, #txtEndDate").change(function () {
            var start = $('#txtStartDate').val();
            var end = $('#txtEndDate').val();
            if (start != '' && end != '') {
                var result = getBusinessDateCount(new Date(start), new Date(end)); //jumlah hari kerja
                getHoliday(start, end);
            }

        });

    });
</script>
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.PaidLeaveId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaidLeaveId" />
            <input type="hidden" asp-for="Value" id="txtValue" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label id="txtTotalLeave" class="control-label font-weight-bold">Total Cuti :<br />12 Hari</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="txtRemainingLeave" class="control-label font-weight-bold">Sisa Cuti :<br />12 Hari</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="txtCurrentValue" class="control-label font-weight-bold">Pengajuan Cuti :<br />- Hari</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="StartDate" class="control-label"></label><span class="required"> *</span>
                    <input asp-for="StartDate" id="txtStartDate" type="date" asp-format="{0:dd/MM/yyyy}" class="datepicker form-control" value="@Model.StartDate.ToString("dd/MM/yyyy")" min="2021-01-01" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EndDate" class="control-label"></label><span class="required"> *</span>
                    <input asp-for="EndDate" id="txtEndDate" type="date" placeholder="dd-mm-yyyy" asp-format="{0:dd/MM/yyyy}" class="datepicker form-control" value="@Model.EndDate.ToString("dd/MM/yyyy")" min="2021-01-01" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label><span class="required"> *</span>
                @Html.DropDownListFor(model => model.TypeId, (IEnumerable<SelectListItem>)ViewBag.Type, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type)
            </div>
            <div class="form-group">
                <label asp-for="Remarks" title="Keterangan" class="control-label"></label><span class="required"> *</span>
                <textarea asp-for="Remarks" type="text" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajukan Cuti" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}