﻿@model EOS.Web.Models.PaidLeave

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PaidLeave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.PaidLeaveName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstApprover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstApprover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstApproverTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstApproverTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstApproverResponse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstApproverResponse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondApprover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondApprover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondApproverTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondApproverTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondApproverResponse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondApproverResponse)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PaidLeaveId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
