﻿@model IEnumerable<EOS.Web.Models.ViewPaidLeave>
<script type="text/javascript">
    $(function () {
        $("input[type='radio']").change(function () {
            $("input[type='submit']").prop("disabled", false);
        });
    });
</script>
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
        <form asp-action="Approval" asp-route-id="@item.PaidLeaveId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" on>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Requestor</label>
                <div class="col-md-7">
                    @Html.TextBox("Fullname", item.Fullname, new { id = "txtFullname", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Tanggal Mulai</label>
                <div class="col-md-7">
                    @Html.TextBox("StartDate", item.StartDate.ToString("dd MMM yyyy"), new { id = "txtStartDate", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Tanggal Selesai</label>
                <div class="col-md-7">
                    @Html.TextBox("EndDate", item.EndDate.ToString("dd MMM yyyy"), new { id = "txtEndDate", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Jumlah Cuti Terpakai</label>
                <div class="col-md-7">
                    @Html.TextBox("Value", item.Value, new { id = "txtValue", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Jenis Cuti</label>
                <div class="col-md-7">
                    @Html.TextBox("PaidLeaveName", item.PaidLeaveName, new { id = "txtPaidLeaveName", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Keperluan Cuti</label>
                <div class="col-md-7">
                    @Html.TextBox("Remarks", item.Remarks, new { id = "txtRemarks", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row offset-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Response" id="response1" value="Approve">
                    <label class="form-check-label" for="Response"><b>Setuju</b></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Response" id="response2" value="Reject">
                    <label class="form-check-label" for="Response"><b>Tolak</b></label>
                </div>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary btn-block" disabled="disabled" />
        </form>   
        }
    </div>
</div>