﻿@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity;
@using EOS.Web.Areas.Identity.Data
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<head>
    @section AddToHead{
        <link rel="stylesheet" href="~/fullcalendar/fullcalendar.css" />
        <script src="~/moment.js/moment.min.js"></script>
        <script src="~/fullcalendar/fullcalendar.js"></script>
        <script src="~/fullcalendar/locale/id.js"></script>
        <!--absensi-->
        <link rel="stylesheet" href="~/datatables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
        <script src="~/datatables/datatables.min.js"></script>

        <script type="text/javascript">
        $(document).ready(function () {
            $('#holiday-calendar').fullCalendar({
                initialView: 'listMonth',
                header: {
                    left: 'prev,next,today',
                    center: 'title',
                    right: 'month, listMonth'
                },
                themeSystem: 'standard',
                firstDay: 1, //The day that each week begins (Monday=1)
                displayEventTime: true,
                locale: 'id',
                events: '@Url.RouteUrl(new{ action="GetEvents", controller="Home"})'
            });
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetRemainingLeaves","Home")",
                success: function (res) {
                    if (res != null) {
                        for(i = 0;i < res.length;i++)
                        {
                            if (i == 0) {
                                $('#txtTotalLeave').append("<div class='carousel-item active'>" + res[i].periodName + " :<div class='h2 mb-0 text-center font-weight-bold'>" + res[i].leaveAllowance + "</div></div>");
                                $('#txtRemainingLeave').append("<div class='carousel-item active'>" + res[i].periodName + " :<div class='h2 mb-0 text-center font-weight-bold'>" + res[i].actualLeave +"</div></div>");
                            }
                            else {
                                $('#txtTotalLeave').append("<div class='carousel-item'>" +res[i].periodName + " :<div class='h2 mb-0 text-center font-weight-bold'>" + res[i].leaveAllowance +"</div></div>");
                                $('#txtRemainingLeave').append("<div class='carousel-item'>" + res[i].periodName + " :<div class='h2 mb-0 text-center font-weight-bold'>" + res[i].actualLeave +"</div></div>");
                            }
                             //if(i+1 != res.length)
                             //{
                             //   $('#txtTotalLeave').append("<br>");
                             //   $('#txtRemainingLeave').append("<br>");
                             //}
                            console.log($('#txtTotalLeave').text());
                        }
                    } else {
                        $('#txtTotalLeave').text("n/a");
                        $('#txtRemainingLeave').text("n/a");
                    }
                }
            });
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetWaitingApprovalLeaves", "Home")",
                success: function (res) {
                    if (res != null) {
                        $('#txtWaitingApproval').text(res.length);
                    } else {                                                                                              
                        $('#txtWaitingApproval').text("n/a");
                    }
                }
            });
            //absensi
            $("#tbl-tm").DataTable({
                    "processing": false, // for show progress bar
                    "serverSide": true, // for process server side
                    "dom": 'rtp',
                    "order": [[2, "desc"]],
                    "language": {
                        "lengthMenu": "Menampilkan _MENU_ baris per halaman",
                        "zeroRecords": "Data tidak ditemukan.",
                        "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                        "infoEmpty": "Data tidak ditemukan.",
                        "infoFiltered": "(Disaring dari _MAX_ baris)",
                        "search": "Pencarian :",
                        "paginate": {
                            "previous": "<",
                            "next": ">"
                        }
                    },
                "ajax": {
                    "url": "/Home/LoadDataTM",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                    "columns": [
                        { "data": "attdTranId", "name": "AttdTranId", "autoWidth": true },
                        { "data": "fullName", "name": "FullName", "autoWidth": true },
                        {
                            data: "dateIn", name:"DateIn",
                            render: function (data, type, row) {
                                return moment(row.dateIn).format('DD MMM YYYY kk:mm:ss');
                            }
                        },
                        { "data": "stateType", "name": "StateType", "autoWidth": true },
                    ]
            });
            $("#tbl-ho").DataTable({
                    "processing": false, // for show progress bar
                    "serverSide": true, // for process server side
                    "dom": 'rtp',
                    "order": [[2, "desc"]],
                    "language": {
                        "lengthMenu": "Menampilkan _MENU_ baris per halaman",
                        "zeroRecords": "Data tidak ditemukan.",
                        "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                        "infoEmpty": "Data tidak ditemukan.",
                        "infoFiltered": "(Disaring dari _MAX_ baris)",
                        "search": "Pencarian :",
                        "paginate": {
                            "previous": "<",
                            "next": ">"
                        }
                    },
                "ajax": {
                    "url": "/Home/LoadDataHO",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                    "columns": [
                        { "data": "attdTranId", "name": "AttdTranId", "autoWidth": true },
                        { "data": "fullName", "name": "FullName", "autoWidth": true },
                        {
                            data: "dateIn", name:"DateIn",
                            render: function (data, type, row) {
                                return moment(row.dateIn).format('DD MMM YYYY kk:mm:ss');
                            }
                        },
                        { "data": "stateType", "name": "StateType", "autoWidth": true },
                    ]
            });
        });
        </script>
    }
</head>

<div class="row">
    <div class="col-md-12">
        <h3 class="font-weight-bold">Employee Online Service</h3>
        <hr style="border-color:#233d89;"/>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="card text-white carousel slide" id="carousel-allowance" style="background-color:#233d89;" data-ride="carousel">
            <div class="card-body d-flex justify-content-between carousel-inner">
                <div class="display-4 d-flex">
                    <i class="fa fa-calendar-alt fa-2xs"></i>
                </div>
                <div class="d-flex flex-column">
                    <div class="h4 font-weight-bold mb-0 text-right">Jatah Cuti</div><br />
                    <div class="h6 mb-0 text-left"><label id="txtTotalLeave"></label></div>
                    <a class="carousel-control-prev" href="#carousel-allowance" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-allowance" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="card text-white carousel slide" id="carousel-remaining" style="background-color:#30a0b9" data-ride="carousel">
            <div class="card-body d-flex justify-content-between carousel-inner">
                <div class="display-4 d-flex">
                    <i class="fa fa-user-plus fa-2xs"></i>
                </div>
                <div class="d-flex flex-column">
                    <div class="h4 font-weight-bold mb-0 text-right">Cuti Terpakai</div><br />
                    <div class="h6 mb-0 text-left"><label id="txtRemainingLeave"></label></div>
                    <a class="carousel-control-prev" href="#carousel-remaining" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-remaining" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="card text-white" style="background-color:#ed786a">
            <div class="card-body d-flex justify-content-between">
                <div class="display-4 d-flex">
                    <i class="fa fa-calendar-check fa-2xs"></i>
                </div>
                <div class="d-flex flex-column">
                    <div class="h5 font-weight-bold mb-0 text-right">Menunggu Persetujuan</div> <br />
                    <div class="h2 mb-0 text-center font-weight-bold"><label id="txtWaitingApproval"></label></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card text-white" style="background-color:#233d89;">
            <div class="card-body d-flex justify-content-between">
                <div class="h6 mb-0 font-weight-bold">Kalendar</div>
            </div>
        </div>
        <br />
        <div id="holiday-calendar"></div>
    </div>
    <div class="col-md-3">
        <div class="card text-white" style="background-color:#233d89;">
            <div class="card-body d-flex justify-content-between">
                <div class="h6 mb-0 font-weight-bold">Kehadiran</div>
            </div>
        </div>
        <br />
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="terminal-tab" data-toggle="tab" href="#terminal" role="tab" aria-controls="terminal" aria-selected="true">Terminal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="headoffice-tab" data-toggle="tab" href="#headoffice" role="tab" aria-controls="headoffice" aria-selected="true">Head Office</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent"><!-- Isi konten absensi -->
            <div class="tab-pane fade show active" id="terminal" role="tabpanel" aria-labelledby="terminal-tab">
                <br />
                <div class="table-responsive">
                    @*<table class="table table-bordered table-striped table-sm table-hover display" id="tbl-tm" style="width:100%">
                        <thead class="">
                        <tr>
                            <th></th>
                            <th>Nama</th>
                            <th>Jam</th>
                            <th>Tipe</th>
                        </tr>
                        </thead>
                    </table>*@
                    <center>Fitur ini dalam maintenance</center>
                </div>
            </div>
            <div class="tab-pane fade" id="headoffice" role="tabpanel" aria-labelledby="headoffice-tab">
                <br />
                <div class="table-responsive">
                    @*<table class="table table-bordered table-striped table-sm table-hover display" id="tbl-ho" style="width:100%">
                        <thead class="">
                        <tr>
                            <th></th>
                            <th>Nama</th>
                            <th>Jam</th>
                            <th>Tipe</th>
                        </tr>
                        </thead>
                    </table>*@
                    <center>Fitur ini dalam maintenance</center>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

