﻿@model PaginatedList<EOS.Web.Models.HolidayDate>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover display nowrap" id="tbl-grid" style="width:100%">
        <thead class="">
            <tr>
                <th>Id</th>
                <th class="icon-td-1"></th>
                <th>Hari Libur</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Selesai</th>
                <th>Tipe</th>
            </tr>
        </thead>
    </table>
</div>
