﻿@model EOS.Web.Models.HolidayDate

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.HolidayDateId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HolidayDateId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><span class="required"> *</span>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label><span class="required"> *</span>
                <input asp-for="StartDate" class="form-control" type="date" min="2020-01-01" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label><span class="required"> *</span>
                <input asp-for="EndDate" class="form-control" type="date" min="2020-01-01" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label><span class="required"> *</span>
                <select asp-for="Type" class="form-control">
                    <option value=""></option>
                    <option value="Hari Libur Nasional">Hari Libur Nasional</option>
                    <option value="Cuti Bersama">Cuti Bersama</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
