﻿@model EOS.Web.Models.PaidLeave
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtPeriod').change(function () {
            var p = $('#txtPeriod').val();
            var obj = { period: p };
            if (p != 0) {
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("GetRemainingLeaves","PaidLeaves")",
                    data: obj,
                    success: function (res) {
                        if (res[0].leaveAllowance) {
                            $('#txtTotalLeave').text('Total Cuti :' + res[0].leaveAllowance + ' Hari');
                            $('#txtRemainingLeave').text('Sisa Cuti :' + res[0].remainingLeave + ' Hari');
                        }
                        else {
                            $('#txtTotalLeave').text('Total Cuti :' + res[0].value + ' Hari');
                            $('#txtRemainingLeave').text('Sisa Cuti :' + res[0].value + ' Hari');
                        }
                    }
                });
            }
            else {
                $('#txtTotalLeave').text('Total Cuti : - Hari');
                $('#txtRemainingLeave').text('Sisa Cuti : - Hari');
            }
        });
        $("#txtStartDate, #txtStartFrom, #txtEndTo").change(function () {
            var start = $('#txtStartFrom').val();
            var end = $('#txtEndTo').val();
            if ((end - start) <= 4) {
                $('#txtValue').val(0.5);
                $('#txtCurrentValue').text('Pengajuan Izin :' + 0.5 + ' Hari');
            }
            else {
                $('#txtValue').val(1);
                $('#txtCurrentValue').text('Pengajuan Izin :' + 1 + ' Hari');
            }
        });
    });
</script>
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.PaidLeaveId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="PaidLeaveId" />
            <input type="hidden" asp-for="Value" id="txtValue" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label id="txtTotalLeave" class="control-label font-weight-bold">Total Cuti :<br />- Hari</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="txtRemainingLeave" class="control-label font-weight-bold">Sisa Cuti :<br />- Hari</label>
                </div>
                <div class="form-group col-md-4">
                    <label id="txtCurrentValue" class="control-label font-weight-bold">Pengajuan Cuti :<br />- Hari</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.StartDate" class="control-label"></label><span class="required"> *</span>
                    <input asp-for="@Model.StartDate" id="txtStartDate" type="date" asp-format="{0:dd/MM/yyyy}" class="datepicker form-control" value="@Model.StartDate.ToString("dd/MM/yyyy")" min="2021-01-01" />
                    <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Mulai Jam</label><span class="required"></span>
                    <select name="From" id="txtStartFrom" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Sampai Jam</label><span class="required"></span>
                    <select name="To" id="txtEndTo" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                @*<div class="form-group col-md-6">
            <label asp-for="@Model.EndDate" class="control-label"></label><span class="required"> *</span>
            <input asp-for="@Model.EndDate" id="txtEndDate" type="date" placeholder="dd-mm-yyyy" asp-format="{0:dd/MM/yyyy}" class="datepicker form-control" value="@Model.EndDate.ToString("dd/MM/yyyy")" min="2021-01-01" />
            <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
        </div>*@
            </div>
            <div class="form-group">
                <label asp-for="@Model.PeriodId" class="control-label">Periode</label><span class="required"> *</span>
                <select asp-for="@Model.PeriodId" asp-items="(IEnumerable<SelectListItem>)ViewBag.Period" id="txtPeriod" class="form-control">
                    <option value="0">- Pilih Period Cuti -</option>
                </select>
                <span asp-validation-for="@Model.PeriodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" title="Keterangan" class="control-label"></label><span class="required"> *</span>
                <textarea asp-for="Remarks" type="text" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajukan Izin" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}