﻿@model IEnumerable<EOS.Web.Models.ViewPaidLeave>
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Requestor</label>
                <div class="col-md-7">
                    @Html.TextBox("Fullname", item.Fullname, new { id = "txtFullname", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Tanggal Mulai</label>
                <div class="col-md-7">
                    @Html.TextBox("StartDate", item.StartDate.ToString("dd MMM yyyy HH:mm:ss"), new { id = "txtStartDate", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Tanggal Selesai</label>
                <div class="col-md-7">
                    @Html.TextBox("EndDate", item.EndDate.ToString("dd MMM yyyy HH:mm:ss"), new { id = "txtEndDate", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Jumlah Cuti Terpakai</label>
                <div class="col-md-7">
                    @Html.TextBox("Value", item.Value, new { id = "txtValue", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Jenis Cuti</label>
                <div class="col-md-7">
                    @Html.TextBox("PaidLeaveName", item.PaidLeaveName, new { id = "txtPaidLeaveName", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Keperluan Cuti</label>
                <div class="col-md-7">
                    @Html.TextBox("Remarks", item.Remarks, new { id = "txtRemarks", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <hr class="red" />
            <h5>Persetujuan</h5>
            <hr class="red" />
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Approval 1</label>
                <div class="col-md-7">
                    @Html.TextBox("FirstApprover", item.FirstApprover, new { id = "txtFirstApprover", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Waktu Respon</label>
                <div class="col-md-7">
                    @if (item.FirstApproverTimestamp != DateTime.MinValue)
                    {
                        @Html.TextBox("FirstApproverTimestamp", item.FirstApproverTimestamp.ToString("dd MMM yyyy HH:mm:ss"), new { id = "txtFirstApproverTimestamp", @class = "form-control-plaintext", @readonly = "readonly" })
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Respon</label>
                <div class="col-md-7">
                    @Html.TextBox("FirstApproverResponse", item.FirstApproverResponse, new { id = "txtFirstApproverResponse", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Approval 2</label>
                <div class="col-md-7">
                    @Html.TextBox("SecondApprover", item.SecondApprover, new { id = "txtSecondApprover", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-sm-5 col-form-label">Waktu Respon</label>
                <div class="col-md-7">
                    @if (item.SecondApproverTimestamp != DateTime.MinValue)
                    {
                        @Html.TextBox("SecondApproverTimestamp", item.SecondApproverTimestamp.ToString("dd MMM yyyy HH:mm:ss"), new { id = "txtSecondApproverTimestamp", @class = "form-control-plaintext", @readonly = "readonly" })
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label font-weight-bold col-md-5 col-form-label">Respon</label>
                <div class="col-md-7">
                    @Html.TextBox("SecondApproverResponse", item.SecondApproverResponse, new { id = "txtSecondApproverResponse", @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
            </div>
        }
    </div>
</div>
