﻿@model EOS.Web.Models.PaidLeave
@{
    ViewData["Title"] = "Pengajuan Izin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @section AddToHead{
        <link rel="stylesheet" href="~/datatables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
        <script src="~/datatables/datatables.min.js"></script>
        <script src="~/moment.js/moment.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tbl-grid").DataTable({
                    "processing": false, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "language": {
                        "lengthMenu": "Menampilkan _MENU_ baris per halaman",
                        "zeroRecords": "Data tidak ditemukan.",
                        "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                        "infoEmpty": "Data tidak ditemukan.",
                        "infoFiltered": "(Disaring dari _MAX_ baris)",
                        "search": "Pencarian :",
                        "paginate": {
                            "previous": "Sebelumnya",
                            "next": "Selanjutnya"
                        }
                    },
                    "ajax": {
                        "url": "/Permit/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },

                    "columnDefs": [{
                        "targets": [0], //hide id
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "orderable": false
                    }],
                    "columns": [
                        { "data": "paidLeaveId", "name": "PaidLeaveId", "autoWidth": true },
                        {
                            data: null,
                            render: function (data, type, full, meta) {
                                return "<a href='#' class='btn btn-info' onclick=ShowDetail('" + full.paidLeaveId + "');><i class='fas fa-search'></i></a>";
                            }
                        },
                        {
                            data: "startDate", name: "StartDate",
                            render: function (data, type, row) {
                                return moment(row.startDate).format('DD MMM YYYY');
                            }
                        },
                        {
                            data: "endDate", name: "EndDate",
                            render: function (data, type, row) {
                                return moment(row.endDate).format('DD MMM YYYY');
                            }
                        },
                        { "data": "fullName", "name": "Full Name", "autoWidth": true },
                        { "data": "remarks", "name": "Remarks", "autoWidth": true },
                        { "data": "status", "name": "Status", "autoWidth": true },
                        //{
                        //    data: null,
                        //    render: function (data, type, full, meta) {
                        //        return "<a href='#' class='btn btn-info' onclick=UpdateData('" + full.paidLeaveId + "');>Update</a> <a href='#' class='btn btn-danger' onclick=DeleteData('" + full.paidLeaveId + "');>Hapus</a> ";
                        //    }
                        //},
                    ],
                });

            }); //end document ready
            function UpdateData(paidLeaveId) {
                var toSend =
                {
                    id: paidLeaveId
                };
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/Permit/AddOrEdit",
                    data: toSend,
                    success: function (res) {
                        $("#form-modal .modal-body").html(res);
                        $("#form-modal .modal-title").html("Ubah");
                        $("#form-modal").modal('show');
                    },
                    error: function (res) {
                        console.log(res);
                    }
                })
            };
            function ShowDetail(paidLeaveId) {
                var toSend =
                {
                    id: paidLeaveId
                };
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/Permit/Details",
                    data: toSend,
                    success: function (res) {
                        $("#form-modal .modal-body").html(res.html);
                        $("#form-modal .modal-title").html("Detail Pengajuan Cuti");
                        $("#form-modal").modal('show');
                    },
                    error: function (res) {
                        console.log(res);
                    }
                })
            };
            function DeleteData(bankId) {
                if (confirm('Apakah anda yakin akan menghapus data ini ?')) {
                    var toSend =
                    {
                        id: bankId
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/Permit/Delete',
                        data: toSend,
                        success: function (res) {
                            $.notify('Data berhasil dihapus', { globalPosition: 'bottom right', className: 'success' });
                            oTable = $('#tbl-grid').DataTable();
                            oTable.ajax.reload(null, false);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            }
        </script>
    }
</head>
<div class="row">
    <div class="col-md-7">
        <h1><i class="fas fa-list-alt text-primary"></i> Pengajuan Izin</h1>
    </div>
    <div class="col-md-5 text-right">
        
        <a onclick="showInPopup('@Url.Action("AddOrEdit", "Permit", new { id = 0 }, Context.Request.Scheme)', 'Pengajuan Izin Baru')" class="btn btn-success btn-sm text-white"><i class="fas fa-plus-circle"></i> Pengajuan Izin Baru</a>
    </div>
    <div class="col-md-12">
        <div id="view-all">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    </div>
</div>



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
