﻿@model Microsoft.AspNetCore.Identity.IdentityRole
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover display" id="tbl-grid" style="width:100%">
        <thead class="">
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th class="icon-td-1"></th>
            </tr>
        </thead>
    </table>
</div>